<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>

<body>
    <h1>To-Do Task</h1>
    {%if tasks == []:%}
    <p>Task is empty</p>
    {%endif%}
    <ul>
        {%for task in tasks%}
        <li>{{task['title']}} - {{task['content']}} -
            <input type="checkbox">
            <a href="{{url_for('update', id=task.id)}}">Edit Task</a>
            <a href="{{url_for('delete', id=task.id)}}">Delete Task</a>
        </li>
        {%endfor%}
    </ul>

    <a href="{{url_for('add_task')}}">Add New Task</a>
</body>

</html>